---
import SayEmulator from "../../components/SayEmulator.svelte";
import TitleSection from "../../components/TitleSection.astro";
import Layout from "../../layouts/Layout.astro";
import { getLocaleStaticPaths, t } from "../../utils/locales";

export function getStaticPaths() {
  return getLocaleStaticPaths();
}

const locale = Astro.params.locale;
---

<Layout>
  <TitleSection
    title={t("bot.name", locale)}
    description={t("bot.description", locale)}
    image="/new-bot.png"
    imageAlt="New Bot Logo"
    class="bg-gradient-to-br from-[#DF7126] to-[#AC3232]"
  >
    <div class="my-4">
      <a
        href="/invite"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-block rounded-lg bg-[#7289DA] p-5 text-lg font-bold text-white"
        >{t("text.invite_me", locale)}</a
      >
    </div>
  </TitleSection>
  <section class="p-10 text-center">
    <h2 class="my-3 text-3xl font-bold">{t("feature.say.title", locale)}</h2>
    <noscript
      ><div class="text-9xl">
        {t("feature.say.emulator.noscript", locale)}
      </div></noscript
    >
    <SayEmulator client:visible {locale} />
  </section>
  <section class="bg-white p-10 text-center text-black">
    <h2 class="my-3 text-3xl font-bold">
      {t("text.more_features_coming_soon", locale)}
    </h2>
  </section>
</Layout>
