---
import TitleSection from "../components/TitleSection.astro";
import "../global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <TitleSection title="404 Not found">
    <div class="my-4">
      <a href="/" class="text-base text-blue-400 md:text-2xl"
        >Click me to go back to the home page</a
      >
    </div>
  </TitleSection>
</Layout>
