---
import Section from "../components/Section.astro";
import "../global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Section
    title="New Bot"
    description="A useless, open-sourced Discord bot."
    class="bg-gradient-to-br from-[#DF7126] to-[#AC3232]"
  >
    <div class="my-4">
      <a
        href="/documentation"
        class="inline-block rounded-lg bg-white p-5 text-lg text-black"
        >Documentation</a
      >
      <a
        href="/invite"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-block rounded-lg bg-[#7289DA] p-5 text-lg font-bold text-white"
        >Invite me!</a
      >
    </div>
  </Section>
</Layout>
