---
import NavBar from "./NavBar.astro";
---

<div
  class="animate-pulse bg-red-500 py-5 text-center text-lg font-bold text-white md:text-xl"
>
  ⚠️New Bot is currently incomplete!⚠️
</div>

<NavBar />
