---
import { t } from "../utils/locales";

const locale = Astro.params.locale;
---

<nav class="flex justify-center p-5 md:justify-start">
  <a href={`/${locale ?? ""}`} class="inline-block">
    <img
      src="/new-bot.png"
      alt={t("bot.logo.alt", locale)}
      class="inline h-10"
    />
    <span class="text-xl">{t("bot.name", locale)}</span>
  </a>
</nav>
