<nav class="flex justify-center p-5 md:justify-start">
  <a href="/" class="inline-block">
    <img src="/new-bot.png" alt="New Bot Logo" class="inline h-10" />
    <span class="text-xl">New Bot</span>
  </a>
</nav>
