---
interface Props {
  title: string;
  class?: string;
  description?: string;
}

const { title, description, class: classes } = Astro.props;
---

<section class={`p-20 text-center text-white ${classes}`}>
  <div class="my-4">
    <h1 class="text-xl font-bold md:text-9xl">{title}</h1>
    <h2 class="text-base md:text-2xl">{description}</h2>
  </div>
  <div class="my-4">
    <slot />
  </div>
</section>
